<%= form_with(model: writer, local: true) do |form| %>
  <% if writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writer.errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
      <% writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :writer_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :writer_website %>
  </div>

  <div class="field">
    <%= form.label :website_shortened %>
    <%= form.text_field :website_shortened, id: :writer_website_shortened %>
  </div>

  <div class="field">
    <%= form.label :website_headings %>
    <%= form.text_area :website_headings, id: :writer_website_headings %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
